@model Data

<div class="container">
    <table class="table table-dark table-hover mb-5">
        <thead>
            <tr>
                <th scope="col">Carro</th>
                <th scope="col">Placa</th>
                <th scope="col">Entrada</th>
                <th scope="col">Saída</th>
                <th scope="col">Tempo</th>
                <th scope="col">Valor</th>
                <th scope="col">Pagamento</th>
            </tr>
        </thead>
        <tbody>

            @if(Model != null && Model.Passes != null)
            {
                @foreach(Pass p in Model.Passes)
                {
                    <tr>
                        <th scope="row">@p.CarroModelo</th>
                        <td>@p.CarroPlaca</td>
                        <td>@p.DataHoraEntrada</td>
                        <td>@p.DataHoraSaida</td>
                        <th>@string.Format("{0}d {1}h {2}min", p.ElipsedTimeOnGarage.Days, p.ElipsedTimeOnGarage.Hours, p.ElipsedTimeOnGarage.Minutes)</th>
                        <td>@string.Format("{0}$", p.PrecoTotal)</td>
                        <td>@string.Format("{0} ({1})", p.FormaPagamento, Model.PaymentForms.Where(x => x.Codigo == p.FormaPagamento).ToList()[0].Descricao)</td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <h3 class="container align-items-center align-content-between">Dados da garagem:</h3>
    
    <div class="container">
        <table class="table mt-5 table-dark table-hover">
           
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor por hora</th>
                    <th scope="col">Valor hora extra</th>
                    <th scope="col">Valor mensalista</th>
                </tr>
            </thead>

            @if (Model != null && Model.Garagens != null)
            {
                @foreach (GaragensModel g in Model.Garagens)
                {
                    <tr>
                        <th scope="row">@g.Codigo</th>
                        <td>@g.Nome</td>
                        <td>@g.Preco_1aHora</td>
                        <td>@g.Preco_HorasExtra</td>
                        <th>@g.Preco_Mensalista</th>

                    </tr>
                }
            }

        </table>
    </div>
</div>